{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Tab Icon -->
    <link rel="icon" href="{% static 'css/img/hsh_logo.png' %}">
    <!-- Materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- aditional fonts -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
     <!-- Custom CSS -->
     <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <title>/HsH\</title>
</head>
<body>
    <header>
        <nav>
            <div class="nav-wrapper">
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul>
                    <li><a href="/" class="brand-logo center"><img id="nav-logo" src="{% static 'css/img/hsh_logo.png' %}"></a></li>
                </ul>

                <ul class="left hide-on-med-and-down">
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'agents_index' %}">Agents</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'properties_create' %}">Create Property</a></li>
                        <li><a href="{% url 'index' %}">Properties</a></li>
                        <li><a href="{% url 'logout' %}">Log Out</a></li>
                    {% else %}
                        <li><a href="{% url 'signup' %}">Sign UP</a></li>
                        <li><a href="{% url 'login' %}">Log In</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>

          <ul class="sidenav" id="mobile-demo">
            <li><a href="{% url 'about' %}">About</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'properties_create' %}">Create Property</a></li>
            <li><a href="{% url 'index' %}">Properties</a></li>
            <li><a href="{% url 'logout' %}">Log Out</a></li>
            {% else %}
            <li><a href="{% url 'signup' %}">Sign UP</a></li>
            <li><a href="{% url 'login' %}">Log In</a></li>
            {% endif %}
            <li class="right"><a href="/">LINK3</a></li>
          </ul>
    </header>


    <div id="page-container">
        <div class="content-body">
            <main class="container">
                {% block content %}
                {% endblock %}
            </main>
        </div>
        <div id="content-wrap">
            <!-- all other page content -->
        </div>
            <footer id="footer">All Rights Reserved, 2019 Home-Sweet-Home</footer>
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
           var elems = document.querySelectorAll('.sidenav');
           var instances = M.Sidenav.init(elems);
           });
      </script>
    </body>
    </html>
