
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body {
  background-image: url(./img/hsh_home_Background.png);
  background-size: cover; 
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

nav, footer{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%,
   rgba(36,241,18,0.8757878151260504) 30%, 
   rgba(11,158,19,1) 100%, 
   rgba(0,212,255,1) 100%);
}

#nav-logo{
  height: 120px;
  width: 120px;
}

/* navbar mobile */
#mobile-demo{
  height: 300px;
  margin-top: 56px;
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(43,194,30,0.4836849369085173) 0%, rgba(4,117,10,0.7202779968454258) 100%, rgba(13,207,188,1) 100%, rgba(0,212,255,1) 100%);
}
#mobile-demo a{
  color: white;
}

#page-container {
  position: relative;
  min-height: 100vh;
}
#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}
#footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}

#page-container{
  display: flex;
  justify-content: center;
}

.content-body{
  align-self: center;
  
}

#site-search{
  /* border: 2px solid black; */
  background-color: #D0D0D0;
}



/* about form  */
/* ************************************** */

.content-container{
  margin: 0 auto;
  width: 500px;
  margin-bottom: 300px;
}
/* ************************************** */
/* about form  */

/* sign in form  */
/* ************************************** */
.sign-form, #upload-form{
  border-radius: 10px;
  text-align: center;
  padding-top: 0;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(110,242,98,0.4836849369085173) 0%, rgba(11,158,19,0.7202779968454258) 100%, rgba(0,212,255,1) 100%);
  margin-bottom: 50px;
}
#upload-form{
  margin: 0;
}

.sign-in-size{
  width: 250px;
}

.sign-in-container{
  padding:0 0 20px 0;
  width: 160px;
  margin: auto;
}

h1{
  color: green;
  text-align: center;
  font-size: 2rem;
  margin: 0 0 10px 0;
}

/* imput text from login */
#id_username, #id_password,#id_password1, #id_password2,
#id_city, #id_state, #id_beds, #id_baths, #id_street_address,
#id_price, #id_sqft, #id_levels, #id_date_listed,#id_status{
  padding: 0;
  margin: 0 0 10px 0;
  height: 30px;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%,
   rgba(43,194,30,0.4836849369085173) 0%,
    rgba(4,117,10,0.7202779968454258) 100%, 
    rgba(13,207,188,1) 100%, rgba(0,212,255,1) 100%);
}

label{
  color: green;
  font-size: 1.5rem;
}

p, .container{
  margin: 0;
  padding: 0;
}

.btnColor{
  background-color: green;
}

/* ***************************************** */
/* end login form */

.sign-up-size{
  width: 600px;
}

.sign-up-container{
  padding:0 0 20px 0;
  width: 500px;
  margin: auto;
}

.center-align{
  padding:0;
  width: 500px;
  margin: auto;
}

/* **************** */
.border{
  border: 2px solid green;
  margin: 15px;
  /* width: 80%; */
}
.card{
  width: 100%;
  margin: 30px 20px 40px 0;
  text-align: center;
}
#content_property{
  display: flex;
}
#id_beds, #id_levels{
  width: 30px;
}
#id_baths{
  width: 35px;
}
#id_sqft{
  width: 65px;
}
#id_city, #id_state, #id_status,
#id_price, #id_date_listed{
  width: 100px;
}
#size-form{
  width: 650px;
}
#id_street_address{
  width: 260px;
  margin: 10px;
}

#form-prop-size{
width: 570px;
}
div .btnColor{
  margin: 10px 0 20px 0;
}

/* Properties */
#prop-title{
  margin-top: 80px;
}
.li-card .card{
  width: 270px;
}
 #card-position ul {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  /* width: 1200px; */
}

#card-position ul li {
  list-style: none;
  margin: 0 auto;
  justify-content:space-evenly;
  flex: 0 0 30%;
  /* padding: 15px; */
}

#price,#beds, #state{
  padding: 0;
}

#price, #house-status{
  font-size: 1.5rem;
  font-weight: 800;
}

.prop-picture, .carousel{
  height: 200px;
  width: 270px;
  background-color: green;
}
#img-houses{
  padding: 0;
  margin: 10px;
  /* height: 80%;
  width: 80%; */
}
.aws-image{
  padding: 0;
  margin-top: 30px;
}

main.container{
  margin: 0 auto;
  width: 80%;
}

/* property filter options */
#prop-search{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(110,242,98,0.4836849369085173) 0%, rgba(11,158,19,0.7202779968454258) 100%, rgba(0,212,255,1) 100%);
  margin-bottom: 100px;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 10px;
}
#prop-search #beds, #prop-search #baths, #prop-search #levels,
#prop-search #min_sqft, #prop-search #max_sqft,
#prop-search #city, #prop-search #state, #prop-search #min_price,
#prop-search #max_price, #prop-search #status
{
  background-color: green;
  font-size: 1rem;
  text-align: center;
}

#prop-search #beds, #prop-search #baths, #prop-search #levels{
  width: 55px;

}
#prop-search #min_sqft, #prop-search #max_sqft{
  width: 70px;
  /* background-color: green; */
}
#prop-search #city, #prop-search #state, #prop-search #min_price,
#prop-search #max_price, #prop-search #status{
  width: 100px;
  /* background-color: green; */
}

#h1-prop-title{
  margin-top: 20px;
}
/* 
.c{
text-align: center;
} */


