{% extends 'base.html' %}
{% block content %}

<h1>Property Details</h1>
<hr>
<div id="card-position">
  <ul>
    <li class="li-card">
      <div class="card">
          <div class="prop-picture">
            <div class="carousel">
              {% for photo in property.photo_set.all %}
              <a class="carousel-item" href="#{{photo.url}}"><img class="aws-image" id="img-houses{{photo.id}}" src="{{photo.url}}"></a>
              {% empty %}
                <div class="card-panel teal-text center-align">No Photos Yet</div>
              {% endfor %}
            </div>
          </div>
          <div class="card-title">{{ property.street_address }} </div>
          <div class="card-content" id="price">${{ property.price }} </div>
          <div class="card-content" id="beds">Beds: {{ property.beds }} / Baths: {{ property.baths }}</div>
          <div class="card-content" id="beds"> Floors: {{ property.levels }} </div>
          {% if user.profile.is_agent %} 
          <a class="btn btnColor" href="{% url 'properties_update' property.id %}">Edit</a>
          <a class="btn btnColor" href="{% url 'properties_delete' property.id %}">Delete</a>
          {% endif %}
      </div>
    </li>
  </ul>

</div> 



{% endblock %}