{% extends 'base.html' %}
{% block content %}

<h1>Property Details</h1>

<hr>

<div class="card">
  <div class="card-content">
        <div class="card-title">{{ property.street_address }} ${{ property.price }}</div>
        <div class="card-content">{% comment %} <p>Year: {{ property.date_listed }}</p></div>
        <p>Style: {{ property.levels }}</p>
        <p>Color: {{ property.beds }}</p>
          <div class="card-action">
        {% endcomment %}
          <div class="card-action">
            <a class="btn btnColor" href="{% url 'properties_update' property.id %}">Edit</a>
            <a class="btn btnColor" href="{% url 'properties_delete' property.id %}">Delete</a>
          </div>
            {% comment %} <a href="{% url 'propertiess_delete' property.id %}">Delete</a> {% endcomment %}
          </div>
      </div>
</div>


{% endblock %}