{% extends 'base.html' %}

{% block content %}

    <h1 id="prop-title">Property List</h1>
    <hr>
    <div id="card-position">
    {% if properties %}
      <ul>
        {% for property in properties %}
          <li class="li-card">
            <div class="card">
              <div class="prop-picture"></div>
              <div class="card-title">{{property.street_address}}</div>
                <div class="card-content" id="price">Price: ${{property.price}}</div>
                <div class="card-content" id="beds">Beds: {{property.beds}} / Baths: {{property.baths}}</div>
                <div class="card-content" id="state">State: {{property.state}} / City: {{property.city}}</div>
                <a href="{% url 'detail' property.id %}">Details</a>
            </div>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <h3>Please Add Some Properties</h3>
    {% endif %}
    </div>
  
{% endblock %}