{% extends 'base.html' %}

{% block content %}
<h1 id="prop-title">Agents DETAILS</h1>
<hr>
<div id="card-position">
    <ul>
        <li class="li-card">
          <div class="card">
              <div class="prop-picture">
                <img class="aws-agent-image" src="{{agent.agent_photo_set.all.0.url}}">
              </div>
            <div class="card-title">{{ agent.get_full_name}}</div>
            <div class="card-content" id="price">Joined: {{ agent.date_joined}}</div>
          </div>
        </li>
    </ul>
    {% comment %} {% if object %} {% endcomment %}
    <form action="{% url 'add_photo_user' user.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
      {% csrf_token %}
      <input type="file" name="photo-file">
      <br><br>
      <input type="submit" class="btn" value="Upload Photo">
    </form>
  {% comment %} {% endif %} {% endcomment %}
</div>
{% endblock %}