{% extends 'base.html' %}

{% block content %}

    <h1 id="prop-title">Agents</h1>
    <hr>
    <div id="card-position">
      <ul>
        {% for agent in agents %}
          <li class="li-card">
            <div class="card">
                <div class="prop-picture"></div>
                <div class="card-title">{{ agent.user.get_full_name}}</div>
                <div class="card-content" id="price">Joined: {{ agent.user.date_joined}}</div>
                <a href="{% url 'agents_details' agent.id %}">More about this agent...</a>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
{% endblock %}